.u-block-cdcd-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-cdcd-3 {
  position: absolute;
  left: 0;
}

.u-block-cdcd-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 28px -118px 0 7px;
}

.u-section-1-1 .u-text-2 {
  margin: 28px 7px 0 20px;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 28px auto 0 33px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 6px;
}

.u-section-1-1 .u-image-1 {
  width: 486px;
  height: 481px;
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: 51px 33px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    font-size: 4.5rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-1-1 .u-image-1 {
    width: 459px;
    height: 454px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-1-1 .u-image-1 {
    width: 349px;
    height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 624px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-1-1 .u-image-1 {
    width: 329px;
    height: 325px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 602px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 81px auto 0 452px;
}

.u-section-2 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 355px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 187px;
  height: 187px;
  background-image: url("images/pexels-photo-532568.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 187px;
  height: 187px;
  background-image: url("images/cmapa.jpg");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 187px;
  height: 187px;
  background-image: url("images/taller.jpeg");
  background-position: 50% 16.86%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 187px;
  height: 187px;
  background-image: url("images/ofici.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  width: 187px;
  height: 187px;
  background-image: url("images/images.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  width: 187px;
  height: 187px;
  background-image: url("images/cao.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-image-7 {
  width: 187px;
  height: 187px;
  background-image: url("images/campa.jpg");
  background-position: 99.73% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 4px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 145px;
  right: 9px;
  background-image: none;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 373px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 286px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 215px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 135px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1044px;
}

.u-section-3 .u-shape-1 {
  height: 422px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -349px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 47px auto 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 742px;
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-3 .u-text-2 {
  text-align: center;
  font-size: 1.875rem;
  margin: 0 20px 0 0;
}

.u-section-3 .u-image-1 {
  height: 295px;
  text-align: start;
  width: 295px;
  background-image: url("images/6063444_675.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  text-align: justify;
  margin: 40px 20px 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 11px;
  padding: 9px 31px 11px 30px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 7px 0 auto;
  padding: 10px 33px 11px;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  margin: -45px 116px 0 auto;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 0 0;
}

.u-section-3 .u-text-4 {
  text-align: center;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 20px 0 0;
}

.u-section-3 .u-image-2 {
  height: 295px;
  text-align: start;
  width: 295px;
  background-image: url("images/ne.jpeg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  text-align: justify;
  margin: 40px 20px 0;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 11px;
  padding: 9px 31px 11px 30px;
}

.u-section-3 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 7px 0 auto;
  padding: 10px 33px 11px;
}

.u-section-3 .u-btn-6 {
  font-weight: 700;
  margin: -45px 116px 0 auto;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 0 0;
}

.u-section-3 .u-text-6 {
  text-align: center;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 20px 0 0;
}

.u-section-3 .u-image-3 {
  height: 295px;
  text-align: start;
  width: 295px;
  background-image: url("images/descarga.jpeg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-3 .u-text-7 {
  text-align: justify;
  margin: 40px 20px 0;
}

.u-section-3 .u-btn-7 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 11px;
  padding: 9px 31px 11px 30px;
}

.u-section-3 .u-btn-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -45px 7px 0 auto;
  padding: 10px 33px 11px;
}

.u-section-3 .u-btn-9 {
  font-weight: 700;
  margin: -45px 116px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 605px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 248px;
    width: 248px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 248px;
    width: 248px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 248px;
    width: 248px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1453px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2187px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-9 {
    margin-top: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 684px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 5px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 672px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 571px;
  height: 571px;
  transform: scaleX(-1);
  transform-origin: center center 0px;
  margin: 0 auto 0 -11px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 584px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-icon-1 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px auto 0 0;
  padding: 21px;
}

.u-section-4 .u-text-3 {
  margin: -105px 0 0 135px;
}

.u-section-4 .u-text-4 {
  margin: 23px 0 0 135px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-4 .u-icon-2 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px auto 0 0;
  padding: 21px;
}

.u-section-4 .u-text-5 {
  margin: -105px 0 0 135px;
}

.u-section-4 .u-text-6 {
  margin: 23px 0 0 135px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-4 .u-icon-3 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px auto 0 0;
  padding: 21px;
}

.u-section-4 .u-text-7 {
  margin: -105px 0 0 135px;
}

.u-section-4 .u-text-8 {
  margin: 23px 0 0 135px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 31px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-4 .u-image-1 {
    width: 460px;
    height: 460px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-4 .u-image-1 {
    width: 350px;
    height: 350px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 25px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}